.detail {
  padding: 24px;
  border-radius: 8px;
  background: var(--white);

  &__header {
    @include flex-gap(16px);
  }
  &__name {
    @include h2;
  }
  &__btns {
    @include flex-gap(16px);
    margin-left: auto;
  }
  &__price {
    @include h3;
    margin: 4px 0;
  }
  &__date {
    @include bodyS;
  }
}
