.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  background: var(--lk-bg);
  width: 100%;
}

.stat {
  &__title {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
  }
  &__text {
    @include bodyM;
  }
}