.info {
  @include blockWrapperNew;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__avatar {
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
  }

  &__avatar-wrapper {
    // margin-top: -100px;
    border-radius: 12px;
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;

    &:hover {
      .image__action {
        opacity: 1;
      }
    }

    &--loading,
    &--empty {
      background-color: var(--lk-bg);

      img {
        opacity: 0;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 8px;
    gap: 8px;

    margin-top: 8px;
    max-width: 80%;

    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 56px);

      @include respond(tablet) {
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%;
      }
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__description {
    margin-top: 22px !important;
    width: 100%;

    @include respond(mobile) {
      text-align: center;
    }
  }
}
