*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}
