.layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 32px;
  background: var(--block-bg);
  padding: var(--block-padding);
  flex: 1;

  &__user {
    position: sticky;
    top: 100px;
    max-height: max-content;
  }
}

.block {
  @include blockWrapperNew;
  @include flex-column-gap(16px);

  @include respond(mobile) {
    // @include flex-column-gap(16px);
  }

  &__title {
    @include textEllipsis;
  }


  &__text {
    @include textEllipsisWithLineClamp(2);
  }
}